*{
  font-family: 'Segoe UI';
}

html {
  text-align: center;
  background-color: #f3f4f6;
}

.question-box {
  width: 40%;
  padding: 20px 30px;
  padding-bottom: 50px;
  margin: auto;
  text-align: left;
  background-color: #ffffff;
  border-radius: 10px;

  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  box-shadow: 0 5px 5px 0px rgba(0,0,0,0.1);
}

.question-box h1 {
  text-align: center;
}

.question {
  font-size: larger;
  font-weight: 500;
}

.answers {
  font-size: medium;
}

.answer {
  padding: 10px;
  margin: 10px 0px;
  background-color: #e5e7eb;
  border-radius: 5px;
  width: 95%;
  transition: 0.2s;
}

.answer:hover {
  background-color: #d4d4d4;
}

.answer:focus {
  outline: none;
}

.answers input {
  border: 0px;
  margin: 0;
  margin-bottom: 20px;
  font: inherit;
}

.question-box button {
  padding: 10px 20px;
  border-radius: 5px;

  font: inherit;
  border: 0px;
  color: #ffffff;
  background-color: rgb(96, 173, 255);

  transition: 0.2s;
}

.question-box button:hover {
  background-color: rgb(36, 141, 201);
}

.q-num {
  text-align: center;
}

#sort-convo {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#sorting-hat {
  flex-basis: 50%;
  width: 10%;
  background-color: transparent;
  align-self: center;
}

#text-bubble {
  background-image: url("img/text_bubble.png");
  background-size: 100%;
  background-repeat: no-repeat;
  flex-basis: 50%;
  width: 100%;

  text-align: center;
  transform: translate(-25%, 0%) scale(100%);

  /* transform: translate(-15%, -15%) scale(5%); */
  /* transform-origin: bottom left; */
  /* transition: 0.1s; */
}

#text-bubble > p {
  font-size: small;
  padding: 15%;
  padding-top: 12%;
  margin-left: 5%;
}

.starter {
  border-width: 2px;
  padding: 10px;
  margin: 7px;
}

/* #text-bubble:hover {
  transform: translate(-25%, 0%) scale(100%);
} */

@media(max-width: 1000px){
  .question-box{
    width: 60%;
  }
}

@media(max-width: 700px){
  .question-box{
    width: 80%;
  }
}